@import url('https://fonts.googleapis.com/css2?family=Sekuya&display=swap');

.header {
    text-align: center;
    background: rgb(96, 3, 96);
    color: white;
    padding: 8px 8px;
    margin: 0;
    font-family: "Sekuya", system-ui;
    font-weight: 400;
    font-style: normal;
}

.btn-voltar {
    position: absolute;
    top: 35px;
    left: 20px;
    background-color: #1a1a1a;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #333;
    font-family: sans-serif;
    font-size: 14px;
    transition: 0.3s;
    z-index: 1000;
}

.btn-voltar:hover {
    background-color: white;
    color: black;
    border-color: rgb(96, 3, 96);
    cursor: pointer;
}

.container-formulario {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 15px;
    border: 1px solid #333;
    max-width: 500px;
    margin: 50px auto;
    color: white;
    font-family: sans-serif;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.container-formulario h2 {
    text-align: center;
    color: rgb(192, 9, 192);
    margin-bottom: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.campo label {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 0.9rem;
}

.campo input, .campo select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #222;
    color: white;
    outline: none;
}

.campo input:focus {
    border-color: #b30000;
}

.btn-enviar {
    width: 100%;
    padding: 12px;
    background-color: rgb(96, 3, 96);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.btn-enviar:hover {
    background-color: rgb(155, 7, 155);
    transform: translateY(-2px);
}

.btn-limpar {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #888;
    border: 1px solid #444;
    border-radius: 5px;
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    font-size: 0.8rem;
}

.btn-limpar:hover {
    color: white;
    border-color: #777;
    background-color: #333;
}
